{% extends 'base.html' %}

{% load my_tags %}

{% block content %}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content text-center">
        <div class="w-full">
            <h1 id="searcher_message" class="text-4xl font-bold mb-4"> Naive Flight Searcher Selected </h1>
            <div class="btn-group">
                <button class="btn btn-searcher btn-naive btn-active px-20 w-12 text-2xl" type="submit" name="naive"> naive </button>
                <button class="btn btn-searcher btn-prune px-20 w-12 text-2xl" type="submit" name="prune"> prune </button>
            </div>

            <h1 class="text-3xl font-bold mt-8 my-4"> Sort By </h1>
            <div class="btn-group">
                <button class="btn btn-filter btn-duration btn-active px-20 w-12 text-2xl" type="submit" name="duration"> duration </button>
                <button class="btn btn-filter btn-price px-20 w-12 text-2xl" type="submit" name="price"> price </button>
            </div>
        
            <form method="get" class="w-full">
                <input id="searcher_input" type="text" name="searcher_input" placeholder="Type here" value="naive" style="display: none" class="input input-bordered max-w-xs" autocomplete="off" />
                <input id="filter_input" type="text" name="filter_input" placeholder="Type here" value="duration" style="display: none" class="input input-bordered max-w-xs" autocomplete="off" />

                <div class="form-control w-full flex flex-col lg:flex-row lg:justify-between mx-8">
                    <div>
                        <label class="label">
                        <span class="label-text"> From </span>
                        </label>
                        <input type="text" name="from_input" placeholder="Departure Airport" class="input input_airport input-bordered max-w-xs" autocomplete="off" />
                        <div style="display: none; position: absolute;" class="w-56 input_tooltip max-h-60 overflow-y-auto">
                            <ul class="airport_options">
                                {% for airport in airport_options %}
                                    <li class="grid w-full h-12 rounded bg-primary text-primary-content place-content-center my-1 hover:bg-primary-focus" style="cursor: pointer">{{airport.city}} ({{airport.iata}})</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div>
                        <label class="label">
                            <span class="label-text"> To </span>
                        </label>
                        <input type="text" name="to_input" placeholder="Arrival Airport" class="input input_airport input-bordered max-w-xs" autocomplete="off" />
                        <div style="display: none; position: absolute;" class="w-56 input_tooltip max-h-60 overflow-y-auto">
                            <ul class="airport_options">
                                {% for airport in airport_options %}
                                    <li class="grid w-full h-12 rounded bg-primary text-primary-content place-content-center my-1 hover:bg-primary-focus" style="cursor: pointer">{{airport.city}} ({{airport.iata}})</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    
                    <div>
                        <label class="label">
                            <span class="label-text"> Date </span>
                        </label>
                        <input type="date" name="date_input" placeholder="Type here" class="input input-bordered max-w-xs" autocomplete="off" />
                    </div>

                    <div>
                        <label class="label">
                            <span class="label-text"> Search </span>
                        </label>
                        <button id="submit_button" class="btn btn-square max-w-xs">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="min-h-screen flex flex-col items-center">
    
    <h1 class="text-5xl font-bold my-10"> List of Flights </h1>

    {% for ticket in tickets %}
        <div tabindex="0" class="collapse border border-base-300 bg-base-300 rounded-box w-3/4 my-4"> 
            <div class="collapse-title text-xl font-medium">
                <div class="flex flex-col">
                    <h1 class="text-2xl font-bold mb-4"> {{ticket.flights|get_airlines}} </h1>
                    <div class="flex justify-between text-center items-center">
                        <div class="flex flex-col">
                            <p> {{ticket.departure_time.hour|digit2}}:{{ticket.departure_time.minute|digit2}} </p>
                            <p class="rounded-2xl bg-base-100 w-16"> {{ ticket.origin.iata }} </p>
                        </div>

                        <div>
                            <p> {% get_hour_minute_diff ticket.departure_time ticket.arrival_time %} </p>
                            <p> {{ ticket.flights|no_of_layovers }} </p>
                        </div>

                        <div class="flex flex-col justify-center items-center">
                            <div class="flex flex-row">
                                <p> {{ticket.arrival_time.hour|digit2}}:{{ticket.arrival_time.minute|digit2}} </p>
                                <p class="text-sm"> {% get_day_diff ticket.departure_time ticket.arrival_time %} </p>
                            </div>
                            <p class="rounded-2xl bg-base-100 w-16"> {{ ticket.destination.iata }} </p>
                        </div>

                        <p class="w-2/5 text-right font-bold text-2xl text-secondary-focus"> ${{ ticket.price|round2 }} </p>
                    </div>
                </div>
            </div>
            <div class="collapse-content bg-base-200"> 
                {% for flight in ticket.flights %}
                <div class="m-4">
                    <div class="flex justify-start">
                        <div class="flex flex-col text-center mr-10">
                            <p> {{flight.departure_time.hour|digit2}}:{{flight.departure_time.minute|digit2}} <p>
                            <p> {% get_date date ticket.departure_time flight.departure_time %} </p>
                        </div>
                        <div>
                            <p class="font-bold"> {{ flight.origin.city }} ({{flight.origin.iata}}) </p>
                            <p> {{flight.origin.name}} </p>
                        </div>
                    </div>

                    <div class="flex items-center my-8 justify-left">
                        <div class="text-center mr-10">
                            <p> &#9992; </p>
                            <p> {% get_hour_minute_diff flight.departure_time flight.arrival_time %} </p>  
                        </div>
                        <div class="border-4 p-4">
                            <p class="text-xl"> {{ flight.airline }} </p>
                            <p> {{ flight.flight_id }} </p>
                        </div>
                    </div>

                    <div class="flex justify-start">
                        <div class="flex flex-col text-center mr-10">
                            <p> {{flight.arrival_time.hour|digit2}}:{{flight.arrival_time.minute|digit2}} <p>
                            <p> {% get_date date ticket.departure_time flight.arrival_time %} </p>
                        </div>
                        <div>
                            <p class="font-bold"> {{ flight.destination.city }} ({{flight.destination.iata}}) </p>
                            <p> {{flight.destination.name}} </p>
                        </div>
                    </div>

                    {% if not forloop.last %}
                    <div class="alert shadow-lg bg-primary text-white my-8">
                        <div>
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-current flex-shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
                          <span> Stop to change plane in {{ ticket.destination.city }} ({% get_overlay_time ticket.flights forloop.counter0 %}) </span>
                        </div>
                    </div>
                    {% endif %}

                </div>  
                {% endfor %}
            </div>
        </div>
    
    {% empty %}
        <h1 class="text-3xl"> No Ticket Found </h1>
    {% endfor %}
</div>

<script>
    var data = JSON.parse('{{ json_data|escapejs }}'); 

    if ('flight_searcher_type' in data) {
        fs_type = data['flight_searcher_type'];
        if (fs_type === 'prune') {
            const button_other = document.querySelector('.btn-naive');
            button_other.classList.remove('btn-active');

            const button = document.querySelector('.btn-prune');
            button.classList.add('btn-active');

            const searcher_input = document.getElementById('searcher_input');
            searcher_input.value = fs_type;

            const searcherMessage = document.getElementById('searcher_message');
            searcherMessage.innerHTML = 'Pruned Landmark Labelling Selected';
        } 
    }

    if ('sort_type' in data) {
        sort_type = data['sort_type']
        if (sort_type === 'price') {
            const activeButton = document.querySelector('.btn-duration');
            activeButton.classList.remove('btn-active');

            const button = document.querySelector('.btn-' + sort_type);
            button.classList.add('btn-active');

            const filter_input = document.getElementById('filter_input');
            filter_input.value = sort_type;
        }
    }

    if ('origin' in data) {
        const searchBar = document.getElementsByName('from_input')[0];
        searchBar.value = data['origin'];
    }

    if ('destination' in data) {
        const searchBar = document.getElementsByName('to_input')[0];
        searchBar.value = data['destination'];
    }

    if ('date' in data) {
        date = data['date']

        if (isNaN(date)) {
            const searchBar = document.getElementsByName('date_input')[0];
            searchBar.value = date;
        }
    }

    // Get all the buttons in the btn-searcher
    const buttons_searcher = document.querySelectorAll('.btn-searcher');

    // Add a click event listener to each button
    buttons_searcher.forEach(button => {
        button.addEventListener('click', (event) => {
            // Remove the btn-active class from the currently active button
            const activeButton = document.querySelector('.btn-searcher.btn-active');
            if (activeButton) {
                activeButton.classList.remove('btn-active');
            }

            // Add the btn-active class to the clicked button
            button.classList.add('btn-active');

            const searcher_input = document.getElementById('searcher_input');
            const searcherMessage = document.getElementById('searcher_message');
            if (event.target.name === 'naive') {
                searcher_input.value = 'naive';
                searcherMessage.innerHTML = 'Naive Flight Searcher Selected';
            } 
            else if (event.target.name === 'prune') {
                searcher_input.value = 'prune';
                searcherMessage.innerHTML = 'Pruned Landmark Labelling Selected';
            }
        });
    });


    // Get all the buttons in the btn-filter
    const buttons_filter = document.querySelectorAll('.btn-filter');

    // Add a click event listener to each button
    buttons_filter.forEach(button => {
        button.addEventListener('click', (event) => {
            // Remove the btn-active class from the currently active button
            const activeButton = document.querySelector('.btn-filter.btn-active');
            if (activeButton) {
                activeButton.classList.remove('btn-active');
            }

            const filter_input = document.getElementById('filter_input');
            filter_input.value = event.target.name

            // Add the btn-active class to the clicked button
            button.classList.add('btn-active');
        });
    });


    const searchBars = document.querySelectorAll(".input_airport");
    searchBars.forEach(searchBar => {
        const airportTooltip = searchBar.nextElementSibling;
        const submitButton = document.getElementById("submit_button");

        // Add event listener to search bar
        searchBar.addEventListener("click", function() {
            airportTooltip.style.display = "block";
            console.log(submitButton);
        });

        // Add click event listener to each li element in tooltip
        const tooltipItems = airportTooltip.querySelectorAll("li");
        tooltipItems.forEach(function(item) {
                item.addEventListener("click", function() {
                searchBar.value = item.textContent;
                airportTooltip.style.display = "none";
            });
        });

        // add event listener to move clicked option to searchbar
        searchBar.addEventListener("input", function(item) {
            const searchValue = searchBar.value.toLowerCase();
            let filled = false;
            
            tooltipItems.forEach(item => {
                const itemText = item.textContent.toLowerCase();
                if (itemText.indexOf(searchValue) === -1) {
                    item.style.display = "none";
                } 
                else {
                    item.style.display = "block";
                }
            });
        });

        // Add event listener to search bar
        document.addEventListener("click", function() {
            if (event.target !== searchBar && event.target !== airportTooltip) {
                airportTooltip.style.display = "none";
            }
        });
    });

</script>

{% endblock %}